@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <title></title>
</head>
<body>
    <div>
        <h1>Bienvenue!! Ma musique page!!</h1><br><br>
        <button id="BtnObtenirMusique">Obtenir les Musiques</button>
    </div>
    <div id="musiqueListe"> </div>
</body>
</html>
