@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Musique Liste</title>
</head>
<body>
    <div>
     <h1>Beinvenue!!</h1>
    </div>
</body>
</html>
